@media (min-width: 1091px) {
  /* ----------------------------- */
  /*            GENERAL            */
  /* ----------------------------- */

  :root {
    /* COLORS */
    --icyPlains: hsla(231, 77%, 90%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --darkRift: hsla(230, 35%, 7%, 1);
    --mountainFig: hsla(231, 15%, 26%, 1);
    /* FONTS */
    --barlowCon: 'Barlow Condensed', sans-serif;
    --barlow: 'Barlow', sans-serif;
    --bellefair: 'Bellefair', serif;
  }
  
  * {
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
  }
  
  body {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  
  main {
    padding: 24px;
  }

  /* ----------------------------- */
  /*            HEADERS            */
  /* ----------------------------- */
  
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  
  header .logo {
    height: 48px;
    width: 48px;
  }
  
  header .hamburger-menu {
    background-color: transparent;
    background-image: url(../assets/shared/icon-hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: none;
    height: 24px;
    width: 24px;
    z-index: 1000;
  }
  
  header .active {
    background-image: url(../assets/shared/icon-close.svg);
    display: none;
  }
  
  header .nav-bar {
    backdrop-filter: blur(24px);
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: fixed;
    right: 0;
    top: 40px;
    width: 60vw;
  }
  
  header .shown {
    display: none;
    transform: translateX(0);
  }
  
  .nav-bar li {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    padding: 32px 0;
  }
  
  .nav-bar li:hover {
    border-bottom: 2px solid var(--white);
  }

  .nav-bar .is-toggled {
    border-bottom: 2px solid var(--white);
  }
  
  .nav-bar a {
    color: var(--white);
    letter-spacing: 2.7px;
    font-family: var(--barlowCon);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .nav-bar span {
    font-weight: 700;
  }

  .nav-bar-ext {
    align-items: center;
    backdrop-filter: blur(40.774227142333984px);
    background: rgba(255, 255, 255, 0.04);
    display: none;
    height: 96px;
    justify-content: space-evenly;
    position: fixed;
    right: 0;
    top: 40px;
    width: 60vw;
  }
  
  .nav-bar-ext-a {
    color: #FFF;
    display: none;
    font-family: var(--barlowCon);
    font-size: 14px;
    letter-spacing: 2.362px;
    padding: 38px 0;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav-bar-ext-a:hover {
    border-bottom: 2px solid var(--white);
  }

  .nav-bar-ext .is-toggled {
    border-bottom: 2px solid var(--white);
  }

  /* ----------------------------- */
  /*           HOME PAGE           */
  /* ----------------------------- */

  .home-page {
    background-image: url(../assets/home/background-home-desktop.jpg);
  }

  .desktop-flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 275px;
    padding: 0 140px;
  }
  
  .welcome-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    
  }
  
  .welcome-page h2 {
    color: var(--icyPlains);
    font-family: var(--barlowCon);
    font-size: 28px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
  }
  
  .welcome-page h1 {
    color: var(--white);
    font-family: var(--bellefair);
    font-size: 150px;
    text-transform: uppercase;
  }
  
  .welcome-page h3 {
    color: var(--icyPlains);
    font-family: var(--barlow);
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    width: 440px;
  }
  
  .explore-button-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .explore-button {
    border: none;
    border-radius: 50%;
    color: var(--darkRift);
    cursor: pointer;
    fill: var(--white);
    flex-shrink: 0;
    font-family: var(--bellefair);
    font-size: 32px;
    height: 274px;
    letter-spacing: 2px;
    margin-top: 108px;
    text-transform: uppercase;
    transition: box-shadow 1s;
    width: 274px;
  }
  
  .explore-button:hover {
    box-shadow: 0 0 100px rgba(255, 255, 255, 1);
  }

  /* ----------------------------- */
  /*          DESTINATIONS         */
  /* ----------------------------- */

  .destination-page {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
  }

  .destination-title {
    color: var(--white);
    font-family: var(--barlowCon);
    font-size: 28px;
    letter-spacing: 4.725px;
    margin-top: 100px;
    padding: 0 164px;
    text-transform: uppercase;
  }
  
  .destination-title span {
    color: rgba(255, 255, 255, 0.25);
    margin-right: 18px;
  }

  .desktop-flex-destination {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }

  .desktop-sub-flex-destination {
    width: 445px;
  }

  .planet-image img {
    margin-bottom: 53px;
    margin-top: 60px;
    min-width: 100%;
  }
  
  .destination-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .destination-picker {
    display: flex;
    gap: 36px;
    width: 100%;
  }
  
  .destination-button {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    color: var(--icyPlains);
    cursor: pointer;
    font-family: var(--barlowCon);
    font-size: 16px;
    letter-spacing: 2.7px;
    padding: 8px 0;
    text-transform: uppercase;
  }
  
  .destination-button:hover {
    border-bottom: 3px solid var(--icyPlains);
  }
  
  .destination-picker .is-toggled {
    color: var(--white);
    border-color: var(--white);
  }
  
  .destination-description {
    border-bottom: 1px solid var(--mountainFig);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
    padding-bottom: 49px;
  }
  
  .planet-name {
    color: var(--white);
    font-family: var(--bellefair);
    font-size: 100px;
    text-transform: uppercase;
  }
  
  .planet-description {
    color: var(--icyPlains);
    font-family: var(--barlow);
    font-size: 18px;
    line-height: 32px;
  }
  
  .destination-info {
    align-items: center;
    display: flex;
    gap: 100px;
  }
  
  .distance-container,
  .travel-time-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .destination-info h3 {
    color: var(--icyPlains);
    font-family: var(--barlowCon);
    font-size: 14px;
    letter-spacing: 2.362px;
    margin-top: 32px;
    text-transform: uppercase;
  }
  
  .destination-info p {
    color: var(--white);
    font-family: var(--bellefair);
    font-size: 28px;
    text-transform: uppercase;
  }

  /* ----------------------------- */
  /*             CREW              */
  /* ----------------------------- */

  .crew-page {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
  }

  .crew-title {
    color: var(--white);
    font-family: var(--barlowCon);
    font-size: 28px;
    letter-spacing: 4.725px;
    margin-top: 100px;
    padding: 0 164px;
    text-transform: uppercase;
  }
  
  .crew-title span {
    color: rgba(255, 255, 255, 0.25);
    margin-right: 18px;
  }

  .reversed {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .crew-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .crew-image img {
    min-width: 100%;
  }

  .desktop-flex-crew {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-left: 164px;
    width: 100%;
  }
  
  .crew-slides {
    align-items: center;
    display: flex;
    gap: 24px;
    margin-top: 120px;
  }
  
  .crew-slides .is-toggled {
    background-color: var(--white);
  }
  
  .crew-button {
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    padding: 0;
    width: 20px;
  }
  
  .crew-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .crew-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
  }
  
  .crew-role {
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--bellefair);
    font-size: 32px;
    text-transform: uppercase;
  }
  
  .crew-name {
    color: var(--white);
    font-family: var(--bellefair);
    font-size: 56px;
    margin-bottom: 27px;
    margin-top: 15px;
    text-transform: uppercase;
  }
  
  .crew-description {
    color: var(--icyPlains);
    font-family: var(--barlow);
    font-size: 18px;
    line-height: 32px;
    max-width: 500px;
  }

  /* ----------------------------- */
  /*          TECHNOLOGY           */
  /* ----------------------------- */

  .technology-page {
    background-image: url(../assets/technology/background-technology-mobile.jpg);
  }

  .technology-title {
    color: var(--white);
    font-family: var(--barlowCon);
    font-size: 28px;
    letter-spacing: 4.725px;
    margin-top: 100px;
    padding: 0 164px;
    text-transform: uppercase;
  }
  
  .technology-title span {
    color: rgba(255, 255, 255, 0.25);
    margin-right: 18px;
  }

  .desktop-flex-technology {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 164px;
  }
  
  .technology-container {
    align-items: center;
    display: flex;
    padding: 0;
  }
  
  .technology-landscape img {
    display: none;
    margin-top: 32px;
    width: 100vw;
  }

  .technology-portrait img {
    min-width: 100%
  }
  
  .technology-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
    gap: 32px;
    margin-top: 56px;
  }
  
  .technology-buttons .is-toggled {
    background-color: var(--white);
    color: var(--mountainFig);
  }
  
  .technology-button {
    background-color: transparent;
    border: 1px solid var(--mountainFig);
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
    font-size: 32px;
    height: 80px;
    padding: 0;
    width: 80px;
  }
  
  .technology-button:hover {
    border: 2px solid var(--white);
  }
  
  .technology-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 44px;
  }
  
  .technology-description-container h2 {
    color: var(--icyPlains);
    font-family: var(--barlowCon);
    font-size: 16px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
  }
  
  .technology-name {
    color: var(--white);
    font-family: var(--bellefair);
    font-size: 56px;
    margin-bottom: 17px;
    margin-top: 11px;
    text-transform: uppercase;
  }
  
  .technology-description {
    color: var(--icyPlains);
    font-family: var(--barlow);
    font-size: 18px;
    line-height: 32px;
    width: 472px;
  }
}