@media (max-width: 560px) {
  .crew-page {
    background-image: url(../assets/crew/background-crew-mobile.jpg);
  }
  
  .crew-container {
    align-items: center;
    border-bottom: 1px solid var(--mountainFig);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    width: 100%;
  }
  
  .crew-title {
    color: var(--white);
    font-family: var(--barlowCon);
    font-size: 16px;
    letter-spacing: 2.7px;
    margin-top: 24px;
    text-transform: uppercase;
  }
  
  .crew-title span {
    color: rgba(255, 255, 255, 0.25);
    margin-right: 18px;
  }
  
  .crew-image img {
    bottom: -4px;
    margin-top: 32px;
    max-width: 100%;
    position: relative;
    z-index: -1;
  }
  
  .crew-slides {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
  }
  
  .crew-slides .is-toggled {
    background-color: var(--white);
  }
  
  .crew-button {
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    padding: 0;
    width: 12px;
  }
  
  .crew-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .crew-description-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
  }
  
  .crew-role {
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--bellefair);
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .crew-name {
    color: var(--white);
    font-family: var(--bellefair);
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 8px;
    text-transform: uppercase;
  }
  
  .crew-description {
    color: var(--icyPlains);
    text-align: center;
    font-family: var(--barlow);
    font-size: 16px;
    line-height: 25px;
  }
}